<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<h3>开源项目健康度查询：</h3>
<form method="post" onsubmit='return checkForm()'>
    <input type="url" name="reponame" placeholder="请键入github url，例如：https://github.com/kunpengcompute/kunpeng" value="{{ url }}" required pattern="^https://github.com/.*">
    <input type="submit" value="提交">
</form>
<div id="result">
{% if query_ok %}
    {% if name %}
    <h3>查询结果：</h3>
    <table>
        <tbody>
            <tr><td>名称</td><td>{{ name }}</td></tr>
            <tr><td>链接</td><td>{{ url }}</td></tr>
            <tr><td>语言</td><td>{{ language }}</td></tr>
            <tr><td>得分</td><td>{{ score }}</td></tr>
        </tbody>
    </table>
    {% else %}
    {% endif %}
{% else %}
    <a style="color:#F00">啊哦，输入的github地址有错误哦！</a>
    <a>示例：https://github.com/tensorflow/tensorflow</a>
{% endif %}
</div>
</body>
<script>
    var timer;
    function run(){
        var s = document.getElementById("dd");
        s.innerHTML = s.innerHTML * 1 - 1;
        if (s.innerHTML <= 0) {
            var result = document.getElementById("result").innerHTML="有点慢哦，请继续耐心等候一会儿..."
            window.clearInterval(timer)
        }
    }
    function checkForm(){
        var result=document.getElementById("result").innerHTML="正在查询，请耐心等候<span id='dd'>10</span>s左右"
        run();
        timer = window.setInterval("run();", 1000);
    }
</script>
</html>